.home-pokemon-info-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 4;
}

.home-main-section--img {
    display: flex;
    align-items: flex-end;
    justify-items: center;
}

.home-main-section--img figure {
    justify-self: center;
    width: auto;
}

.home-main-section--img figure img {
    width: 150%;
    margin-bottom: 50%;
    margin-left: 10%;
}


.data-sheet {
    position: fixed;
    top: 2%;
    bottom: 2%;
    left: 25%;
    right: 25%;
    width: 60%;
}

.ind-info-pokemon-container {
    max-width: 230px;
}



