.home-main-img-pokemon {
    display: flex;
}

.home-pokemon-info-container {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-logo-container {
    grid-column: 1;
    position: fixed;
    top: 10%; /*200*/
    left: 1.5%; /*35px*/
    width: 25%;
    height: 25%;
    display: flex;
    justify-content: center;
}

.main-logo-container figure img {
    width: 80%;
    margin-left: 70px;
}

.main-filter-container {
    grid-column: 1;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 28%;
    height: auto;
    min-width: 250px;
    min-height: 20%;
    top: 40%; /*500px*/
    margin-left: 20px;
    border-radius: 5px;
    background-color: var(--secondary-blue);
}

.main-filter-container form {
    width: 80%;
}

.main-filter--pokemonType, .main-filter--pokemonNumber {
    width: 100%;
    padding: 0 5% 0 5%;
}

.multiselect {
    width: 100%;
    padding-top: 5%;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    height: 30px;
    font-family: lato;
    border-radius: 5px;
}

.checkboxes {
    display: none;
    border: 1px #dadada solid;
}

.checkboxes label {
    display: block;
    font-family: lato;
    background-color: white;
}

.checkboxes label:hover {
    background-color: #1e90ff;
}

.main-searchPoke-container {
    grid-column-start: 2;
    margin: 20% auto;
    padding: 0;
}

.ind-info-pokemon-container {
    max-width: 215px;
    min-height: 230px;
}

.data-sheet {
    position: fixed;
    top: 2%;
    bottom: 2%;
    left: 25%;
    right: 25%;
    width: 50%;
}

.main-errormsg-container {
    display: none;
    grid-column-start: 2;
    grid-column-end: 4;
    width: 500px;
    margin: 20% auto;
}

