@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300;400&display=swap');
*{
   margin: 10px;
   padding: 10%;
   box-sizing: border-box;
} 
body {
     background:linear-gradient(160deg, #4888B9, #45BD79, #61C362, #A4D02A, #FEC600);
     }

image {
    background-image: url(https://hipertextual.com/files/2017/07/rick-morty-.jpg);
    box-sizing:border-box;
    display:row;
    justify-content: space-around;
    margin-right: 25%;
    margin-left: 5%;
    max-width: 40%;
    max-height: 40%;
}

#info{ 
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin-right: 25%;
    margin-left: 5%;
    font-size:1.5vw;
    font-family: 'Grandstander', cursive;
    font-weight: 300;
    
 }

 #about{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 25%;
    margin-left: 5%;
    font-size:1.5vw;
    font-family: 'Grandstander', cursive;
    font-weight: 400;
    
 }
 .form{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 80%;
    font-size:1 vw;
    font-family: 'Grandstander', cursive;
    font-weight: 300;
    padding: 1rem 0;
    width: 10rem;
    text-align: center;
    margin: .5rem;
    background-color: #CDF267;
}
/*#Next{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 80%;
    font-size:1 vw;
    font-family: 'Grandstander', cursive;
    font-weight: 300;
 }*/
 #Next{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size:1 vw;
    font-family: 'Grandstander', cursive;
    font-weight: 300;
    padding: 1rem 0;
    width: 10rem;
    text-align: center;
    margin: 1rem;
    background-color: #CDF267;
 }
 #Next:hover{
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.2);
    background: black;
    color: #CDF267;

 }

#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6%;
  background-color:#CDF267;
  color: #6A6A6A;
  text-align: center;
  font-size:.5 vw;
  font-family: 'Grandstander', cursive;
  font-weight: 300;
 } 