*{
  box-sizing: border-box;
}

body {
	color: #212529;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;

  color: white;
  /*color: #c77aee;*/
  /*background-color: #f6f0c4;
  background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);*/
  background-repeat: no-repeat; 
}

.cabecera{
  display: flex;

  /*background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);*/
  background: black;
}

.cabecera-bloque1{
  height: 70vh;
  width: 60%;
  /*background: url("img/pokemon-02.jpg") no-repeat 40% top;*/
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5em;
  margin-left: 0%;
  text-align: center;
}

.cabecera-bloque1 video{
  display: flex;
  /*margin-right: 30%;*/

  height: 70vh;
  width: 100%;
}

h1 {
	align-self: center;
  font-family: 'Bangers', cursive;
  text-shadow: black 0.05em 0.05em 0.05em;
  letter-spacing: 6px;
  font-size: 9vh;
  line-height: 1.2;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
  margin-right: 2em;
  /*margin-bottom: 5px;
  margin-top: 50px;*/
}

.cabecera-bloque2{
  height: 70vh;
  width: 40%;
  /*background: url("img/pokemon-03.jpg") no-repeat 40% top;*/
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5em;
  text-align: center;
  padding-top: 0px;
}

h2{
  align-self: center;
	font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  font-size: 5vh;
  line-height: 1.2;
}

@media (max-width: 37.5em){
  .cabecera{
    flex-direction: column;
    /*height: 50vh;*/
  }
  h1{
    margin: auto 0;
  }
  .cabecera-bloque1{
    width: 100%;
    height: 38vh;
  }
  .cabecera-bloque2{
    width: 100%;
    height: 30vh;
    margin: auto 0;
  }
  .cabecera img {
    width: 100%;
    height: 100%;
    object-position: center top;
  }
}

/*INICIA POKEDEX*/

.contenedor-pokemon{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  height: 100%;
  align-items: center;
}

.pokemon-card{
  position: relative;
  z-index:-2;

  height: 300px;
  width: 185px;

  margin: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
}

.pokemon-card{
  background-image: linear-gradient(150deg, rgb(210, 242, 194) 50%, rgb(247,205,247) 50%);
  background-position: initial;
  background-repeat: initial;
}

.pokemon-id{
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: .7em;
  margin-top: 5px;
  border-radius: 20px;
  padding: 3px 10px;
  background: rgba(0, 0, 0, 0.2);
}

.pokemon-nombre{
  font-family: 'Bangers', cursive;
  font-size: 1em;
  text-align: center;
  letter-spacing: .5em;
  color: black;
}

.tipo {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: .7em;
}

img{
  width: 65%;
  margin: auto 0;
}

.circulo{
  padding: 65px;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  opacity: 70%;
  border-radius: 50%;
  top: 6%;
  z-index: -1;
}


/*INICIA BOTON 01*/
.botones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  min-height: 5em;
  align-items: center;
  /*padding: 1em 40em;*/
}

button {
  border: 3px solid black;
  color: black;
  background-color: white;

  /*border-radius: 50%;*/

  font-size: .6em;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;

  width: 70px;
  height: 30px;

  /*width: 50px;
     height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;*/
}

button:hover {
  cursor:pointer;
  transform: scale(1.2);
}

button:hover {
  color: /*#c77aee*/ white;
  background-color: black;
}

/*FOOTER*/

#footer-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
}

.social-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  text-align: center
}

.social-bar P {
  background: black;
  font-family: 'Bangers', cursive;
  letter-spacing: .2em;
  color: white;
  font-size: .7em;
}
