

  /* #top {
    padding: 30px;
    text-align: center;
    color: #90C944;
    background-color: #000000;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
      }  */

/* Sidebar button */

 /* #sidebarButton {
    width: 50%;
    height: 50%;
    background: url("img/menu-icon.png") no-repeat;
    position: absolute;
    left: 40px;
    top: 30%; 
  }  */

  /* Logo */

  /* #logo {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  } */

  /* #logo h1 {
    letter-spacing: 5px;
    font-size: 60px;
  } */

  /* #mainMenu ul {
    list-style:none;
    margin: 0;
    padding: 0;
 }

 #mainMenu #item a {
   background: #11AFC9;
   color: black;
   padding: 12px 22px;
   display: block;
   font-size: 16px;
   text-decoration: none;
 }

 #deploy{
  background: #11AFC9;
  color: black;
  padding: 12px 22px;
  font-size: 16px;
  text-decoration: none;
 }

 #mainMenu #deploy {
   display: none;
 }

#mainMenu #item a:hover{
  background: #000000;
  color: rgb(255, 255, 255);
}

 #mainMenu #item:hover #deploy {
   display: block;
 } */

 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Special Elite', cursive;
 }

 header{
   height: 150px;
   background: #000000;
   color: #90C944;
   display: flex;
   justify-content:flex-start;
   align-items: center;
 
 }

 #sidebarButton {
  /* display: block; */
   display: none;
 }

 header label {
   font-size: 30px;
   cursor: pointer;
   display: none;
 }

 #mainMenu {
   padding-top: 35%;
 }

 #mainMenu ul {
  background: #11AFC9;
  color: black;
  /* display: flex; */
  list-style: none;
 }

 #mainMenu ul ul {
   display: none;
 }

 #mainMenu a{
   display: block;
   padding: 15px 20px;
   color: black;
   text-decoration: none;
 }

 #mainMenu a:hover {
  background: #000000;
  color: rgb(255, 255, 255);
 }

 #mainMenu ul li:hover ul {
  display: block;
  position: absolute;
 }

 @media (max-width:768px) {
   header label {
     display: block;
   }
   #mainMenu {
    padding-top: 10%;
    position: absolute; 
    top: 50px;
    left: 0;
    width: 100%;
    transform: translateX(-100);
    transition:all 0.3s;
   }

   #mainMenu ul {
     display: block; 
     background: #11AFC9;
     color: black; 
   }

   #mainMenu ul li:hover ul {
     display: none;
     position:static;
   }

  #sidebarButton:checked ~ #mainMenu {
    transform: translateX(0%);
  }

  #mainMenu ul ul {
    background: rgba(0,0,0,0.4);
  }
  
  #mainMenu ul ul a {
    padding: 15px 40px;
  }

 }