*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html, body {
  height: 100%;
  width: 100%;
} */

body {
  /* background: url('img/portal.jpg') no-repeat;
  background-size: cover; */
  font-family: 'Special Elite', cursive;
  width: 100%;
  /* display: flex;
  flex-direction: column; */

}

header {
  display: flex;
  height: 20%;
  width: 100%;
  background-color: #000;
  padding: 30px;
}

header h1 {
    color: #90C944;
    /* padding-top: 50px; */
    font-size: 50px;
    /* display: inline-block; */
    font-family: 'Get Schwifty';
    align-items: center;
    animation-name: entrar;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

header .menuIcon a:active img {
  transform: rotate(90deg);
  transition: all .3s ease-in-out 0s;
}

main {
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  /* flex: auto;
  width: 100%;
  align-items: flex-end; */
} 

@keyframes entrar {
  0%{transform: translate(0px);}
  25%{transform: translate(900px);}
  50%{transform: translate(450px);}
  75%{transform: translate(100px);}
  100%{transform: translate(0px);}
}

/* h1 {
  color: #90C944;
  padding-top: 50px;
  font-size: 50px;
  display: inline-block;
  font-family: 'Get Schwifty';
  animation-name: entrar;
  animation-duration: 20s;
  animation-iteration-count: infinite;
} */

.btn-menu {
  /* background: url('img/menu-icon.png') no-repeat; 
  background-size: cover; */
  border-radius: 20px;
  width: 80px;
  height: 80px;
  padding: 5px;
  margin: 20px;
} 

@keyframes colors-nav {
  0%{background-color: #90C944;}
  15%{background-color: #A5F043;}
  30%{background-color: #B8D9EC;}
  45%{background-color: #13D2F0;}
  60%{background-color: #11AFC9;}
  75%{background-color: #FFFABF;}
  90%{background-color: #EEEC75;}
  100%{background-color: #90C944;}
}

.nav {
  width: 30%;
  /* height: 100%; */
  height: 895px;
  text-align: center;
  background-color: #11AFC9;
  font-size: 30px;
  /* margin-top: -12px; */
  animation-name: colors-nav;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  /* border-radius: 10px; */
}

.nav ul {
  list-style: none;
  padding: 20px;
}

.nav li {
  padding: 8px;
}

nav li span{

}
.nav .itemList li {
  display: block;
}

.hide {
  display: none;
}

.show {
  display: block;
}

ul .show {
  text-align: left;
  margin-left: 170px;
}
/* 
li:hover {
  background-color: rgba(0, 0, 0);
   color: #fff; 
  cursor: pointer;
} */

ul li:hover {
  background-color: rgba(0, 0, 0,0.1);
  /* color: #fff; */
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

/* a:hover {
  color: #fff;
} */

.enable-menu {
  display: block;
}

.disable-menu {
  display: none;
}

/* label:hover {
  color: #fff;
} */

input{
  position: relative;
  left: -10px;
}

#content{
  background: url('img/NOP.gif') no-repeat;
  background-size: 100%;
  /* flex-grow: 1; */
  /* background-color: #444444; */
  flex-grow: 1;
  height: 895px;
  padding: 25px;
  width: auto;
  color: rgb(255, 255, 255);
  font-size: 30px;  
}

@font-face {
  font-family: 'Get Schwifty';
  src: local('get_schwifty'),
       url('font/get_schwifty.ttf') format('truetype');
  /* font-weight: normal;
  font-style: normal;
  unicode-range: "U+0-10FFFF"; */
}

@media screen and (max-width:800px){
  .btn-menu {
    width: 10%;
    height: 90%;
  }

  .nav {
    width: 50%;
  }

  body {
    width: 100%;
  }
  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width:400px){
  .btn-menu {
    width: 30%;
    height: 90%;
  }

  .nav {
    width: 50%;
  }

  h1 {
    font-size: 40px;
  }
}