*{
  /*box-sizing: border-box;*/
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #212529;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	background-color: #f6f0c4;
  background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
}

header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

h1{
  letter-spacing: 5px;
  font-size: 2.5rem;
}

h1 {
	align-self: center;
	margin: 30px 0;
	font-family: 'Bangers', cursive;
  text-align: center;
  margin-left: 15%;
}

/*INICIA POKEDEX*/

.caja {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  /*background: pink;*/
  border-radius: 20px;
}

.caja {
  height: 150px;
  width: 500px;
}

.titulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: black;
  /*background: pink;*/
}

/*.pokeContainer {
  margin-top: 45px;
}

.pokeContainer {
  width: 500px;
  height: 300px;
  background:red;
}*/

.pokeContainer1,
.pokeContainer2{
	position: relative;
	z-index: -2;

	height: 300px;
	width: 185px;

	margin: 20px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
}

/*INICIA BOTON 01*/

/*button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5px;
  margin-right: 1%;
}*/

/*button {
  margin-top: 10px;
  margin-left: 30%;
  margin
}*/

button {
  width: 80px;
  height: 40px;
  border: 2px solid black;
  color: black;
  background-color: #f6f0c4;
  font-size: .6em;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  border-radius: 6px;
}

button:hover {
  cursor:pointer;
  transform: scale(1.2);
}

/*FOOTER*/

#footer-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  text-align: center
}

.social-bar P {
  background: black;
}
