body {
  margin: 0;
  padding: 0;
}

header {
  
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(88, 212, 50);
}
.div-img-banner{
  background-color: black;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  
}
header img {
  height: 70px;
  max-width: 95%;
}
/*ESTILO DEL NAV (MENU)*/
nav{
  
}
nav .drop-menu {
  width: 400px;
  background: #242526;
  color: #b0b3b8;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 200;
  line-height: 50px;
  border-radius: 5px;
   
}
nav .wrapper{
  position: absolute;
  top:130px;
  display: flex;
  width: 400px;
  background: #242526;
  border-radius: 5px;
  overflow: hidden;
  display: none;
} 
nav .wrapper.show{
  display: block;
  display: flex;
}
nav .wrapper .specie-drop,
nav .wrapper .gender-drop,
nav .wrapper .location-drop{
  display: none;
}
nav .drop-menu span{
  float: right;
  line-height: 50px;
  font-size: 20px;
  cursor: pointer;
}
nav .wrapper ul {
list-style: none;
color: #b0b3b8;
width: 400px;
padding: 10px;
transition: all 0.03s ea;
}
nav .wrapper ul li{
  line-height: 55px;
}
nav .wrapper ul li a{
  text-decoration: none;
  color: #b0b3b8;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
  align-items: center;
  border-radius: 8px;
}
nav .wrapper ul li:hover a{
  background: #f0f035;
}
nav .wrapper ul li a i {
  position: absolute;
  right: 10px;
  font-size: 25px;
  pointer-events:none;
}
.wrapper .specie-drop li{
  padding-left: 10px;
  font-size: 20px;
  color: #b0b3b8;
  font-weight: 500;
  cursor: pointer;
}
.wrapper .specie-drop span{
  margin-right: 15px;
}
main {
  margin-top: 10%;
  display: flex;
}


/*ESTILOS DE LAS CARDS*/
#data {
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cards {
  display: flex;
  padding: 25px;
  
}
.card {
  background-color: #07b0ce;
  box-shadow: 0 0 10px rgba(0, 0, 0, 18);
}
.card-image {
  display: flex;
  justify-content: center;
}

.card-image img {
  width: 65%;
  display: block;
  border: 5px solid #fff;
  margin-top: 1em;
}
.details p {
  color: #ffff;
  padding-left: 2em;
  font-size: 16px;
  margin-top: -10px;
  font-family: "Coming Soon", cursive;
}
.details h2 {
  color: #f0f035;
  text-align: center;
  margin-top: -17px;
  font-family: "Schoolbell", cursive;
}
